@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Faktum';
    src: url('../public/assets/fonts/faktum-wide-bold.otf') 
}

body {
    font-family: 'Faktum', sans-serif;
}

.social {
    cursor: pointer;
    border-radius: 9999px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.btn{
    @apply px-4 py-2 focus:ring-4 shadow-lg transform active:scale-75 transition-transform ease-in-out font-medium rounded-sm;
}

.btn-primary{
    @apply bg-[#D5175E] hover:bg-pink-400 text-white outline-none;
}

.btn-secundary{
    @apply border-2 border-neutral-800 text-neutral-800 outline-none hover:border-neutral-800 hover:bg-pink-400 hover:bg-opacity-10;
}

.btn-warning{
    @apply border-2  text-white  outline-none hover:bg-red-600 hover:text-white;
}

dialog::backdrop {
    @apply bg-neutral-700/50;
}

.input-text{
    @apply bg-gray-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-auto md:w-80 p-2.5;
}

.input-label{
    @apply:  mb-2 text-sm font-medium text-gray-900 ;
}

.fade-in-right {
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@font-face {
    font-family: 'Faktum';
    src: url('../assets/fonts/faktum-wide-bold.otf') 
}

@keyframes fade-in-right {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-out-right {
    animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes fade-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(50px);
        opacity: 0;
    }
}

details>summary {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

summary::-webkit-details-marker {
    display: none
}

summary::after {
    content: ' +';
}
details[open] summary:after {
    content: " -";
}

details.ver>summary.ver {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary.ver::after {
    content: ' ver más +';
}
details.ver[open] summary:after {
    content: " ver menos -";
}

